body {
    font-family: Arial, sans-serif;
}

label {
    display: inline-block;
    width: 140px;
}

input {
    margin-bottom: 10px;
}

table {
    margin-top: 20px;
    width: 450px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #777777;
}

tfoot td {
    font-weight: bold;
}

button {
    background-color: #777777;
    border-radius: 3px;
    cursor: pointer;
}